.tabs {
  display: flex;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  overflow: hidden;
}

.tab {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 15px;
  transition: .5s;
  cursor: pointer;
}

.tab:hover {
  background-color: #ddd;
}

.active_tab {
  background-color: #ccc;
}

.content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.active_content {
  display: block;
}